@model PDFCore.Templates.EmployeePdfTemplate

<!docutype html>
<html>
<head>

</head>
<body>
    <p>@Model.Name</p>
    <p>@Model.LastName</p>
    <p>@Model.Age</p>
    <p>@Model.Gender</p>
</body>
</html>
</!docutype>